<div class="text-end my-3">
    <button class="btn btn-primary" [routerLink]="['/user']">Novo Usuário</button>
</div>
<table class="table table-hover mt-5">
    <thead class="thead-light">
        <tr>
            <th class="col">Nome</th>
            <th class="col">E-mail</th>
            <th class="col">Data de nascimento</th>
            <th class="col">Escolaridade</th>
            <th class="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userList">
            <td>{{ user.name}} {{ user.lastName}}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.birthdate | date: "dd/MM/yyyy" }}</td>
            <td>{{ user.educationLevelDescription }}</td>
            <td class="text-end">
                <button class="btn btn-link py-0" (click)="handleEditUser(user.id)">
                    <i class="pi pi-user-edit"></i>
                </button>
                <button class="btn btn-link py-0" (click)="handleRemoveUser(user.id)">
                    <i class="pi pi-times"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>

<p-confirmDialog header="Confirmação" acceptLabel="Sim" rejectLabel="Não" icon="pi pi-exclamation-triangle">
</p-confirmDialog>